.global-section{
    width: 1280px;
    margin: 63px 80px 30px;
    user-select: none;
}

/*header*/

.header{
    font-size: 80px;
    line-height: 94px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    margin: 63px 0 38px;
}

.header-color{
    color: #4bcaff;
}

/*nav*/

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #35444F;
}

.nav-panel-container{
    list-style-type: none;
    font-size: 24px;
    line-height: 28px;
    border-right: 1px solid #FFFF;

}

.nav-panel{
    display: block;
    padding: 26px 40px 19px;
    color: #FFFF;
    cursor: pointer;
}

.nav-element{
    border-left: 1px solid #FFFF;
}

.nav-panel-container:hover{
    background-color: #222F3A;
}

/*aside*/

.aside-main-container{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.aside-container{
    border: 1px solid black;
    width: 344px;
    height: 399px;
}

.aside{
    list-style-type: none;
    margin: 0;
}

.aside-link{
    text-decoration: none;

}

.aside-text{
    font-size: 27px;
    line-height: 27px;
    color: #495863;
    padding: 26px 0 27px 38px;
    margin: 0;
    transition: 1s;
}

.aside-text:hover{
    background-color: #DBDBDB;
    padding-left: 60px;
    transition: 1s;
}

/*main*/
.main-container{
    width: 885px;
}
.image-section{
    height: 529px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.goat-image {
    width: 320px;
    height: 381px;
    transition: 1s;
}

.goat-image:hover{
    transform: scale(1.1);
    transition: 1s;
}

.main-text{
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin-top: 37px;
}

/*footer*/

.footer-container{
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    align-items: center;
    justify-content: space-around;
}

.link-footer{
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    color: #0C1927;
    margin-right: 30px;
    padding-bottom: 8px;
    transition: 0.3s;
}

.link-footer:hover{
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    transition: 0.3s;
}


.copyright{
    font-size: 24px;
    line-height: 24px;
}