body{
    font-family: montserrat, sans-serif;
}

.navbar{
    text-align: center;
}

.navbar-menu{
    display: inline-block;
    padding-left: 72px;
}

.navbar-link{
    color: #FF0000;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}


.main{
    text-align: center;
}
.content{
    display: inline-block;
    padding: 0 68px;
    color: #373737;
}


.simple-header{
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin: 49px 0 38px;
}

.simple-text{
    margin-bottom: 28px;
}

.button{
    padding: 18px 43px;
    margin-top: 66px;
    text-transform: uppercase;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.footer{
    color: #373737;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    margin: 85px 105px 29px 0 ;
}
