/*Header container*/

.header-container{
    display: flex;
    justify-content: space-between;
    background-color: #313131;
    align-items: center;
}

.logo-img{
    padding: 21px 27px;
}

.logo-container{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
}

.logo-text{
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;
    cursor: pointer;
}

.navigation-container{
    text-transform: uppercase;
}

.navigation-link{
    padding: 0 17px;
    cursor: pointer;
}

.navigation-link{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
}

.navigation-link:hover{
    color: #14B9D5;
}


.search-link{
    padding: 27px 25px 24px;
    background-color: black;
    cursor: pointer;
}

/*Articles container*/

.articles-container{
    display: flex;
    background-image: url("../img/articles-background.png");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    padding-top: 163px;
}

.article-title{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.article-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 74px;
}

.article-button{
    display: flex;
    flex-direction: column;
    width: 170px;
    background-color: #89CA62;
    border-radius: 5px;
    text-decoration: none;
    padding: 16px 20px;
    margin-right: 20px;
}

.article-text{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 25px;
    margin: 0;
    text-align: center;
}

.button-blue{
    background-color: #14B9D5;
}

/*Most popular posts*/

.posts-container{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-header{
    display: block;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 49px 0 52px;
}

.posts-country-container{
    display: flex;
    align-content: center;
    flex-flow: column wrap;
    height: 880px;
    gap: 30px;
}

.post-country{
    background-color: #ffffff;
    width: 370px;
    text-align: center;
}

.posts-text{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}

/*Our most popular clients*/
.clients-section{
    background-image: url("../img/clients-background.png");
    padding: 108px 0 200px;
}

.clients-container{
    display: grid;
    grid-row-gap: 100px;
    grid-column-gap: 50px;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    grid-template-areas:
    "header header header header"
    "line line line line"
    "npost-icon dryme-icon hoho-icon journy-icon"
;
}

.clients-header{
    grid-area: header;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;
}

.clients-line{
    grid-area: line;
    width: 60px;
    height: 3px;
    color: #18B4CF;
    background-color: #18B4CF;
}

.clients-icon-npost{
    grid-area: npost-icon;
}

.clients-icon-dryme{
    grid-area: dryme-icon;
}

.clients-icon-hoho{
    grid-area: hoho-icon;
}

.clients-icon-journy{
    grid-area: journy-icon;
}

.clients-link{
    display: grid;
    align-items: center;
}

/* Rated anr news section*/

.rated-section{
    background-color: #E5E5E5;
}

.rated-news-header{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
    text-transform: uppercase;
    padding: 50px 0;
    color: #18B4CF;
    margin: 0;
}

.rated-image-container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.rated-image{
    width: 100%;
}
/* Hot news*/

.news-link-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1170px;
    gap: 40px 60px;
    margin: 0 auto;
}

.news-link{
    text-decoration: none;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);

}

.news-header{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #353A3D;
    margin: 14px 27px;
}

.news-text{
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: right;
    color: #5B6469;
    margin: 0 14px;
}

.news-emirate{
    grid-column: 1/4;
}

.news-spain{
    grid-column: 4/5;
}

.news-egypt{
    grid-column: 1/3;
}

.news-maldives{
    grid-column: 3/5;
}

.news-tenerife{
    grid-column: 1/3;
}

.news-britain{
    grid-column: 3/5;
}

.news-ireland{
    grid-column: 1/2;
}

.news-kings-spain{
    grid-column: 2/5;
}

.news-horizontal{
    display: flex;
}

.news-horizontal-content{
    margin: 28px 0 41px;
}

.news-header-spain-ireland-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
}

.news-header-spain-ireland{
    margin: 0;
}

/*Footer section*/

.footer-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000000;
    margin-top: 71px;
}

.footer-text{
    display: flex;
    justify-content: flex-end;
    font-size: 13px;
    color: #FFFFFF;
    margin: 0;
    padding: 30px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo-img{
    vertical-align: middle;
}

.footer-logo-text{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
}

