.global-container{
    background-image: url("../img/global-background.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container{
    max-width: 1023px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}

.logo-container{
    display: inline-block;
}

.logo-text-container{
    display: inline-block;
    margin-left: 8px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;

}

.logo-milan-text{
    font-size: 29px;
    line-height: 29px;
    margin: 0;
}

.logo-text{
    font-size: 18px;
    line-height: 18px;
    margin: 0;
}

.logo-img{
    fill: #ffffff;
}

.logo-container:hover .logo-img{
    fill: #F26522;
}

.logo-container:hover .logo-text-container  {
    color: #F26522;

}

.contact-information-container{
    font-size: 18px;
    line-height: 18px;
    text-align: right;
}

.contact-information-email{
    display: block;
    margin: 0 0 19px;
    text-decoration: none;
    color: #FFFFFF;
}

.contact-information-email:hover{
    color: #F26522;
}

.contact-information-phone-number{
    margin: 0;
    text-decoration: none;
    color: #FFFFFF;
}

.contact-information-phone-number:hover{
    color: #F26522;
}

.main-container{
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 37px 60px;
}

.tours-global-container{
    text-decoration: none;
    color: #ffffff;
}

.tours-container{
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 220px;
    border: 3px solid;
    border-image-source: linear-gradient(to bottom,white, black);
    border-image-slice: 1;

}

.tours-information{
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 272px;
    bottom: -62px;
    background-color: #F26522;
    align-items: flex-end;
    padding: 0 15px 12px;
    transition: 0.5s;
}

.tours-global-container:hover .tours-information{
    bottom: 0;
    transition: 0.5s;
}

.tours-price-text{
    font-size: 10px;
    margin: 8px 0;
}

.tours-price-total{
    font-size: 20px;
    margin: 0;
}

.tours-details{
    align-content: flex-end;
    font-size: 14px;
    margin: 0;
}

.tours-title{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.tours-global-container:hover .tours-title{
    color: #F26522;
}

.footer-container{
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 12px;
    color: #ffffff;
    margin-top: 49px;
}