.global-container{
    display: flex;
    flex-direction: column;
    background-image: url("../img/background-img.png");
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    user-select: none;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 79px;
    background-color: rgba(0, 0, 0, 0.4);
    fill: #ffffff;
}

.header-icons:hover{
    fill: #236d47;
    transition: 0.3s;
}
.header-logo{
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.3s;
}

.header-logo:hover{
    color: #236d47;
    transition: 0.3s;
}
.navbar-container{
    display: flex;
    align-items: center;
}

.header-icons{
    padding-right: 25px;
}

.header-registration{
    padding-left: 27px;
    color: #ffffff;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}


.header-registration-link{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.header-registration-link:hover{
    color: #236d47;
    transition: 0.3s;
}

/*Main container*/

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.form-section{
    position: relative;
    background-color: #ffffff;
    width: 324px;
    padding: 35px 60px;
}

.green-square{
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
}
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.form-header-text{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin: 0;
}

.form-header-log{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}

.facebook-google-container{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.facebook-google-button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    height: 48px;
}

.facebook-button{
    background-color: #305DB8;
    margin-right: 6px;
}

.facebook-button:hover{
    background-color: #022263;
}

.google-button{
    background-color: #DF4A32;
    padding: 0;
}

.google-button:hover{
    background-color: #AB1F09;
}

.facebook-google-text{
    display: inline-block;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
}

.facebook-img{
    padding: 0 14px;
}
.facebook-text{
    padding: 0 18px;
    border-left: 1px solid rgba(10,22,47,0.1);

}
.google-img{
    padding: 0 7px 0 12px;
}

.google-text{
    padding: 0 28px;
    border-left: 1px solid rgba(43,13,9,0.1);
}

/*Divider container*/

.divider-container{
    display: flex;
    align-items: center;
    margin-top: 31px;
}

.auth-form-divider{
    width: 148px;
    border: 1px solid #F2F2F2;

}
.divider-title{
    margin: 0;
    color: #848484;
}

/*Form container*/

.form-container{

}

.form-input{
    width: 100%;
    font-size: 14px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-top: 15px;
    padding: 15px 0 15px 0;
    transition: 0.2s;
}

::-webkit-input-placeholder{
    color: #BEBEBE;
    padding-left: 18px;
}

.form-input:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    transition: 0.2s;
    outline: none;
}

/* Form checkbox*/

.form-checkbox-container{
    display: flex;
    align-items: center;
    margin: 12px 0 20px;

}

.form-checkbox{
    width: 20px;
    height: 20px;
}


.form-text{
    font-size: 14px;
    line-height: 14px;
    margin-left: 11px;
}

.form-link{
    text-decoration: none;
    color: #236d47;
    padding-bottom: 2px;
    border-bottom: 1px solid #236d47;
}

/*Submit button*/

.form-submit-button{
    width: 100%;
    height: 46px;
    font-size: 16px;
    line-height: 16px;
    color: #ffffff;
    background-color: #01813F;
    border: none;
    border-radius: 4px;
}